<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<title>Inicio de sesión</title>
<main>
	<form th:action="@{/login}" method="post">
		<div>
			<label> Usuario: <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Contraseña: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<button>Iniciar sesión</button>
		</div>
		<div th:if="${param.error}">Usuario o contraseña incorrectos.</div>
		<div th:if="${param.logout}">Se ha cerrado la sesión.</div>

	</form>
</main>
