<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<title>Ingredientes del plato</title>
<main>
	<h1>Ingredientes del Plato</h1>
	
	<div th:object="${plato}">
		<h2 th:text="*{nombre}">PIZZA</h2>
		<p th:text="*{dificultad.nombre}">Fácil</p>
		<p th:text="*{tipoCocina.nombre}">Italiana</p>
		
		<table>
			<thead>
				<tr>
					<th>Ingrediente</th>
					<th>Medida</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ingrediente: ${platoIngredientes}" th:object="${ingrediente}">
					<td th:text="*{ingrediente.nombre}">Tomate</td>
					<td th:text="*{medida}">Rodajas</td>
					<td th:text="*{cantidad}">5</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<form th:action="${'/plato/' + plato.id + '/ingredientes'}" method="post" th:object="${platoIngrediente}">
		<input type="hidden" th:field="*{plato.id}" th:value="${plato.id}">
		
		<select th:field="*{ingrediente}">
			<option th:each="ingrediente: ${ingredientes}" th:text="${ingrediente.nombre}" th:value="${ingrediente.id}">Patata</option>
		</select>
		
		<input th:field="*{medida}" placeholder="Medida">
		<span th:errors="*{medida}"></span>

		<input type="number" th:field="*{cantidad}" placeholder="Cantidad">
		<span th:errors="*{cantidad}"></span>
		
		<button>Guardar</button>
	</form>
	
</main>
