@font-face {
    font-family: 'Cairo Play';
    src: url(../fonts/CairoPlay-VariableFont_slnt\,wght.ttf) format('woff2');
}

@font-face {
    font-family: 'Honk';
    src: url(../fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf) format('woff2');
}
